{{ block styles }}
<link rel="stylesheet" href="{{ static 'global/css/style.css' }}">
<link rel="stylesheet" href="{{ static 'public_goods/style.css' }}">
{{ endblock }}

{{ block title }}
<span class="text-muted">Décision</span>
{{ endblock }}

{{ block content }}

<div class="d-flex justify-content-between mb-3">
    <p>Période {{ player.round_number }} sur {{ C.NUM_ROUNDS }}</p>
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        <i class="bi bi-info-circle"></i> Instructions
    </button>
</div>

<div class="alert alert-info mb-3" role="alert">
    <p>
        Vous disposez d'une dotation de {{ C.ENDOWMENT }} jetons, et devez décider du nombre de jetons que
        vous placez dans le compte collectif. Chaque jeton placé dans le compte collectif rapporte {{ subsession.mpcr }}
        ECU à chacun des membres du groupe, vous compris. Les jetons que vous ne placez pas dans le compte collectif
        sont automatiquement placés dans votre compte individuel. Chaque jeton placé dans votre compte individuel vous
        rapporte 1 ECU, à vous et à vous seul.
    </p>
    {{ if subsession.seuil > 0 }}
    <p>
        Attention, si le total de jetons placés par votre groupe dans le compte collectif n'atteint pas le seuil
        minimal de {{ subsession.seuil }} jetons alors le gain issu du compte collectif pour chaque membre du
        groupe est 0 ECU. Dans ce cas le gain de la période pour chacun des membres du groupe est égal au
        nombre de jetons qu'il a placé sur son compte individuel x 1 ECU.
    </p>
    {{ endif }}
</div>

<div class="d-flex align-items-center mb-3">
    <label for="id_public_account" class="me-3 mb-0">
        Nombre de jetons placés dans le compte collectif :
    </label>
    <div>
        {{ form.public_account }}
    </div>
</div>

{{ next_button }}

{{ if player.round_number > 1 }}
<div class="mt-5 border-top pt-4">
    {{ include_sibling "HistoriqueTemplate.html" }}
</div>
{{ endif }}

{{ include "global/instructions_modal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/js/fill_auto.js' }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        if (js_vars?.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}

